/*************
Global Styles
************** */



.wrapper {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.off-canvas-wrapper {
	background-color: #222;
}


/*************
Nav mobile
************** */

.title-bar {
	background-color: #222;
	height: 60px;
	padding-top: 15px;
}

#mobile-menu {
	background-color: #222;
	padding: 10px;
}

#mobile-menu li {
	list-style: none;
}

#mobile-menu a {
	color: rgba(255,255,255, 0.6);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color: rgba(255,255,255, 0.8);
}

/*************
Nav desktop
************** */

.nav-desktop {
	background-color: #222;
	padding: 0;
}

.site-logo {
	color: salmon;
}

.nav-desktop .menu-desktop {
	background-color: transparent;
	line-height: 50px;
}

.menu > li > a {
	display: inline-block;
	color: white;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

.menu > li > a:hover {
	background-color: rgba(255,255,255, 0.1);
}

/*************
Hero
************** */
.hero-panel {
	padding: 50px 0px;
	/*top right bottom left*/
	height: 200px;
	/* background-image: url("../img/swirl_pattern.png"); */
	/* background-image: url("../img/old-paper.png"); */
	/* background-repeat: no-repeat; */
	/* background-attachment: fixed; */
	/* background-position: center top; */
	/* background: */
        /* url(01.jpg) right center no-repeat, */
        /* url(02.jpg) left center no-repeat; */
	background-color: white;
}


/*************
Main
************** */
.main-content {
	padding: 80px 0px;
}

.content-one {
	
}

div.static-content h1 {
    font-family: arial unicode ms;
    border-bottom: 2px solid blue;
}

div.static-content h2 {
    font-family: arial unicode ms;
    border-bottom: 2px solid salmon;
}


.content-two {
	
}

/*************
Footer
************** */
footer {
	background-color: #222;
	padding: 50px 0px;
}
 
footer h4 {
	color: rgba(255,255,255, 0.8);
	font-size: 1.3em;
}

footer hr {
	border-color: rgba(255,255,255, 0.1);
	margin: 10px 0;
}
 
footer a {
	display: block;
	color: rgba(255,255,255, 0.6);
	font-size: 0.8em;
}

footer a span {
	font-weight: bold;
	color: rgba(255,255,255, 0.3);
	
}

footer a:hover {
	color: rgba(255,255,255, 0.8);
}

/*************
Media Query
************** */

@media (max-width: 640px) {
	.nav-desktop {
		display: none;
	}
}

@media (max-width: 800px) {
	.hero h1,
	.hero p {
		width: 100%;
	}
}
